body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#message {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.form input[type="text"],
.form input[type="date"] {
    flex: 1;
    padding: 10px;
    background-color: #2a2a2a;
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
}

button {
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form button {
    background-color: #6a65fe;
}

#clearAllBtn {
    background-color: #f44336;
}

.actions button {
    padding: 6px 10px;
}

.actions button:nth-child(1) {
    background-color: #ffeb3b;
    color: black;
}

.actions button:nth-child(1).completed {
    background-color: #4caf50;
    color: white;
}

.actions button:nth-child(2) {
    background-color: #ffc107;
    color: black;
}

.actions button:nth-child(3) {
    background-color: #f44336;
}

button:hover {
    opacity: 0.85;
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.material-icons {
    font-size: 18px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.controls .custom {
    position: relative;
    display: inline-block;
}

select {
    background-color: #333;
    color: white;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
}

.controls .custom .material-icons {
    position: absolute;
    right: 8px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c1c1c;
    table-layout: fixed;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.status-pending {
    color: #ffeb3b;
    font-weight: bold;
}

.status-completed {
    color: #4caf50;
    font-weight: bold;
}